apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: wines
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      enableServiceLinks: false
      containers:
        - name: backend
          image: vericachochorovska/wines-backend:v3
          ports:
            - containerPort: 8000
          envFrom:
            - configMapRef:
                name: backend-config
