apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: wines-ingress
  namespace: wines
spec:
  ingressClassName: nginx
  rules:
    - host: wines.local
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: wines-frontend
                port:
                  number: 80

          - path: /api
            pathType: Prefix
            backend:
              service:
                name: backend
                port:
                  number: 8000
