apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: mongo
  namespace: wines
spec:
  serviceName: mongo
  replicas: 1
  selector:
    matchLabels:
      app: mongo
  template:
    metadata:
      labels:
        app: mongo
    spec:
      containers:
        - name: mongo
          image: mongo:6
          ports:
            - containerPort: 27017

          volumeMounts:
            - name: mongo-data
              mountPath: /data/db
            - name: mongo-seed
              mountPath: /seed

          lifecycle:
            postStart:
              exec:
                command:
                  - sh
                  - -c
                  - |
                    echo "Waiting for MongoDB...";
                    until mongosh mongodb://127.0.0.1:27017 --eval "db.adminCommand('ping')" >/dev/null 2>&1; do
                      sleep 2;
                    done;
                    echo "Seeding MongoDB...";
                    mongosh mongodb://127.0.0.1:27017/wines /seed/init-mongo.js

      volumes:
        - name: mongo-seed
          configMap:
            name: mongo-seed

  volumeClaimTemplates:
    - metadata:
        name: mongo-data
      spec:
        accessModes: ["ReadWriteOnce"]
        resources:
          requests:
            storage: 1Gi
